body{

    box-sizing: border-box;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    height: 100%;
    font-family: sans-serif;

}

.Content{

    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#41d04d,#50c8be);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;

}

.h1{

    text-align: center; 
    font-size: 25px; 
    padding-bottom: 25px;

}

.Tabel{

    color: #212529;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100rem;
    position: relative;

}

.Tabel tbody tr:hover{

    background-color: rgba(122, 122, 122, 0.16);

}

.Tabel tbody td {
    
    padding-top: 15px;
    padding-bottom: 15px;

}

.Thead{

    text-align: center;
    color: #ffffff;
    height: 60px;
    background: #36304a;

}

.tr2{

    border-bottom: 2px solid rgb(122, 122, 122);    

}

.tr3{

    border-top: 2px solid rgb(122, 122, 122);
    border-bottom: 2px solid rgb(122, 122, 122);

}

.tr4{

    border-top: 2px solid rgb(122, 122, 122);
    border-bottom: 2px solid rgb(122, 122, 122);

}

.tr5{

    border-top: 2px solid rgb(122, 122, 122);
    border-bottom: 2px solid rgb(122, 122, 122);
    
}

.tr6{

    border-top: 2px solid rgb(122, 122, 122);
    border-bottom: 2px solid rgb(122, 122, 122);

}

.tr7{

    border-top: 2px solid rgb(122, 122, 122);
    border-bottom: 2px solid rgb(122, 122, 122);

}

.tr8{

    border-top: 2px solid rgb(122, 122, 122);

}